<div class="as-popup" 
    ng-hide="asPopupCtrl.isClosed"
    ng-class="{false:'',true: 'collapsed'}[isMinimized]" 
    ng-style="{
        'border-color': color,
        'width':asWidth,
        'height':asHeight
    };">
    <div class="as-popup-header">
        <span class="as-btn fa fa-close"
              ng-click="asPopupCtrl.isClosed=true">
        </span>
        <span class="as-btn fa"
            ng-show="{{isMinimizeable}}"
            ng-class="{false:'fa-minus',true: 'fa-plus'}[isMinimized]"
            ng-click="isMinimized=!isMinimized;">
        </span>
        <div class="triangle" ng-style="{'border-top-color':color}"></div>
        <span class="title">
            <span class="icon-title {{titleIcon}}" ng-style="{'color':color}"></span>
            <span>{{titleText}}</span>
        </span>
    </div>
    <div class="as-popup-body">
        <div ng-transclude></div>
    </div>
    <div class="as-popup-footer">
    </div>
</div>